[submodule "vendor/oh-my-zsh"]
	path = vendor/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vendor/oh-my-vim"]
	path = vendor/oh-my-vim
	url = https://github.com/liangxianzhe/oh-my-vim.git
[submodule "vendor/dotbot"]
	path = vendor/dotbot
	url = https://github.com/anishathalye/dotbot.git
